.log-title[data-v-a4f422ba]{font-size:4rem;color:#000;margin-top:180px}.log[data-v-a4f422ba]{width:100%;height:100%;background-size:cover;background-position:center;background-repeat:no-repeat;height:624px}
