.log-title[data-v-cdd405e3]{font-size:4rem;color:#000;margin-top:180px}.log[data-v-cdd405e3]{width:100%;height:100%;background:url(/src/assets/back.jpg) #000 no-repeat;background-size:100% 100%;height:624px}
