.article-title[data-v-75a6dd22]:hover{text-decoration:underline;color:#10007a}[data-v-75a6dd22] .el-pagination{justify-content:center}[data-v-75a6dd22] .el-table .cell{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
